# Next.js insurence flow app - Cursor Rules

This is an insurance flow application designed to manage vehicle accident cases through a step-by-step process displayed on a timeline.


This project uses:

- Next.js 16 (App Router)
- TypeScript
- Tailwind CSS v4
- Shadcn UI
- React Hook Form
- Zustand
- TanStack Table
- Zod
- Next auth
- lucide-react for icons

# Rules
- read always prisma/schema.prisma
- always use type of generated prisma client if with relation use GetPayload
- always for prims check : import { prisma } from "@/lib/prisma";
